<a href="https://colab.research.google.com/github/jborener/CSC-302/blob/main/jborener_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
medals = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
medals.shape

(2394, 8)

In [19]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2394 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.8+ KB

In [20]:
len(medals['Location'].unique())

23

In [21]:
medals[medals['Nationality']== 'USA']

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
37,M,10000M Men,London,2012,S,Galen RUPP,USA,27:30.90
51,M,10000M Men,Tokyo,1964,G,Billy MILLS,USA,28:24.4
67,M,10000M Men,Stockholm,1912,S,Lewis TEWANIMA,USA,32:06.6
70,M,100M Men,Rio,2016,S,Justin GATLIN,USA,9.89
74,M,100M Men,Beijing,2008,B,Walter DIX,USA,9.91
...,...,...,...,...,...,...,...,...
2326,W,Pole Vault Women,Beijing,2008,S,Jennifer SUHR,USA,4.8
2328,W,Pole Vault Women,Sydney,2000,G,Stacy DRAGILA,USA,4.6
2331,W,Pole Vault Women,London,2012,G,Jennifer SUHR,USA,4.75
2337,W,Shot Put Women,Rio,2016,G,Michelle CARTER,USA,20.63
2358,W,Shot Put Women,Rome,1960,B,Earlene BROWN,USA,16.42

In [27]:
medals_d = medals[medals['Nationality']== 'USA']
medals_d.shape

(638, 8)

In [29]:
medals.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64